/*
 * General Styles
*/


body {
  background: url('../images/Background-Medical.jpg');
  font-family: 'Open Sans', arial, sans-serif;

  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 28px;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Lobster', cursive;
  color: #e22f8f;
  text-align: center;
  margin-bottom: 32px;
}

h1 {

  font-size: 16px;
}

h2 {
  font-size: 32px;
}

/*
 * Container Styles
*/

.container {
  width: 600px;
  margin: 100px auto;


}
#Work {
  width: 100%;
  border-radius: 20px 20px 0 0;

}


aside.left {

  float: left;
}

aside.right {
  float: right;
}

section.intro {
  background: #FFF;
}

section.intro, div#contact {
  padding: 48px;
}

aside {
  margin-right: 24px;
}

.contact {
  background: white;
}

footer {
  background: white;
}

.container section nth-child(even){
  background: white; ;

}
